.App {
  text-align: center;
}

h1 {
  margin: 5rem 0;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}